<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".QuickExpenseShortcutActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:taskAffinity="com.finanza.next.quick.shortcut"
            android:theme="@style/ShortcutTheme" />
        <activity
            android:name=".QuickExpenseActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"
            android:taskAffinity="com.finanza.next.quick"
            android:theme="@style/QuickExpenseTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="jeffersonf.github.io"
                    android:pathPrefix="/finanza-next"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="invite" android:scheme="next" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".FinanzaQuickExpenseWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/finanza_quick_expense_widget_info" />
        </receiver>
        <receiver
            android:name=".FinanzaSummaryWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/finanza_summary_widget_info" />
        </receiver>
        <receiver
            android:name=".FinanzaAgendaWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/finanza_agenda_widget_info" />
        </receiver>
        <receiver
            android:name=".FinanzaQuickExpenseInlineReceiver"
            android:exported="false" />
    </application>
</manifest>
